.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left:10%;
    margin-right:5%;
    margin-top:1rem;
}
.card-repo{
 width: 20rem;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border:1px solid #613dc1;
  box-shadow: 0 8px 6px -6px black;
}
.card-repo:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  }