.MuiTextField-root{
    width: 50vw;
}
img{
    border-radius: 50%; 
}
.profile-card{
    width: 345px;
    float: center;
    margin:auto;
    margin-top:30px;
    text-align:center;
    position: relative;
}

.div-profile-card{
    display: flex;
  
}